<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="box_link" params="name size mass material">
    <xacro:property name="sx" value="${float(size.split()[0])}"/>
    <xacro:property name="sy" value="${float(size.split()[1])}"/>
    <xacro:property name="sz" value="${float(size.split()[2])}"/>
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${size}"/>
        </geometry>
        <material name="${material}"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${size}"/>
        </geometry>
      </collision>
      <xacro:box_inertial mass="${mass}" x="${sx}" y="${sy}" z="${sz}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:box_inertial>
    </link>
  </xacro:macro>
</robot>
